/* This is the Css for Index.html which is the landing page */

#welcome{
    background-image: url("../img/female-doctor-1.jpg");
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:400px;
    width:100%;
  }

  #welcome-text{
      margin-top:20%;
      margin-left: 50%;
  }

 #introduction{
    background-color: rgb(203, 220, 228);
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    width:100%;
 }

 #introduction-text{
     margin-left: 10%;
 }

 #introduction-text>p{
    margin-left: 3%;   
}

#services-heading{
    text-align:center;
}

.draw-line{
    display: inline-block;
    height: 3px;
    border-top: 1px solid rgb(8, 8, 8);
    width: 10%; 
}

#service-container{
   margin-left: 9% !important;
}

.service-card{
    padding: 0;
    margin-right: 8%;
    text-align: center;
    background-color: rgb(250, 253, 250);
    margin-bottom: 2%;
}

.icon{
      border: 2px solid rgb(174, 241, 232);  
      border-radius: 20%;
      padding: 10%;
      margin-top:2%;
      margin-bottom:2%;
}

#philosophy{
 background-color: rgb(203, 220, 228);
}

#philosophy-img{
width:30px;
height: auto;
}

#appointment{
    background-image: url("../img/appointment1.jpg");
	background-repeat:no-repeat;
	background-size:cover;
    width:100%;
    margin:auto;
 }

 #appointment-form {
     background-color: white;
     width: 50%;
     padding:5%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: center;
     position: relative;
     left: 20%;
     top: 30%
 }

 #appointment-form input{
    background: #dcdee0;
 }

 #appointment-form textarea{
    background: #dcdee0;
    border: 0;
 }

 .block-btn {  
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 4%;
  }

  #testimonials{
    background-color: rgb(203, 220, 228);
    text-align: center;
    padding-top: 15%;
   }

   #testimonials img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
   }

   .member-testimonial{
     padding: 10px;  
   }

   .checked{
    color: #0069D9; 
   }

   #schedules{
    background-color: rgb(234, 239, 241);
    text-align: center;
    padding-left: 3%;
    padding-right: 3%; 
    padding-bottom: 3%; 
   }

   .Schedule-badge{
    display: block;
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 17px;
    border-radius: 4%;
    margin-bottom: 10%;
   }
   
   .schedule-btn {  
    display: block;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 18px;
    background-color: honeydew;
    cursor: pointer;
    text-align: center;
    color:black;
    border-radius: 4%;
    font-size: 24px;
    font-weight: bold;
  }
  