.header{
  background-color: #0069D9;
  color: white;
  min-height: 85px;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  border-bottom: 5px solid white;
 color: white;
}
.header .logo{
  background-color: white;
  /* add slanting behaviour */
  transform: skew(25deg);
  margin-left: -50px; 
  width: 400px;
  height: 85px;   
  float: left;
}
.logo-img{
  transform: skew(-25deg);
  height: 70px;
  width: 80px;
  float: left;
  margin-left: 55px;
}
.logo-text{
  transform: skew(-25deg);
}
 