/* This is the CSS for the navigation bar which is found on all pages */
.logo img{
    height: 50px;
    float: left;
    /* contributes to slanting behaviour */
    transform: skew(5deg) rotate(-1deg);
    -webkit-transform: skew(25deg) rotate(-1deg);
    -moz-transform: skew(25deg) rotate(-1deg);
    padding-right: 5px;
    padding-left: 10px;
}
.logo span{
  /* add slanting behaviour */
    transform: skew(5deg) rotate(-1deg);
    -webkit-transform: skew(25deg) rotate(-1deg);
    -moz-transform: skew(25deg) rotate(-1deg);   
}
.navigation a.logo {
  background-color: #F8F9FA;
  color: #007BFF;
  height: 80px;
  min-width: 400px;
  text-align: start;
  /* contributes to slanting behaviour */
  transform: skew(-15deg);
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
}
/* Add a black background color to the top navigation */
.navigation {
    background-color: #0069D9; 
    overflow: hidden;
    margin-left:-16px;
  }
  /* Style the links inside the navigation bar */
  .navigation a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navigation a.links{
   margin-left:20px;
   width: 120px;
   height: 80px;
   margin-right: 10px;
   padding-top: 30px;
  }
  
  /* Change the color of links on hover */
  .navigation a:hover  {
   border-bottom: #F8F9FA solid 7px;
  }

  /* Highlights the active page */
  .navigation a.active{
    border-bottom: #F8F9FA solid 7px;
  } 
  /* Hide the link that should open and close the navigation on small screens */
  .navigation .icon {
    display: none;
  }
 