/* Add responsiveness - f */
@media screen and (max-width: 1024px) {
    #philosophy{
        margin-left: 4px;
        width: 100%;
    }
    #testimonials{
       padding-top: 25%; 
    }
    #welcome-text{
        margin-top:20%;
        margin-left: 5%;
    }
    /* Hide the Fixed background images of services.html in small devices because they appear jumbled */
    .image{
        display: none;
     }
    #appointment-form {
        background-color: white;
        width:80%;
        padding:5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        position: relative;
        left: 10%;
        top: 20%
    }

    #contact-form {
      background-color: white;
      width: 100%;
      padding:5%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
      position: relative;
      margin-left:10% ;
      margin-top:5% ; 
    }
  }
/* Responsiveness for devices with a width less than an ipad pro */
@media screen and (max-width: 768px) {
    .navigation a:not(:first-child) {display: none;}
    .navigation a.icon {
       float: right;
      display: block;
      color: black; 
    }
    /* Removes the slantness from the logo */
    .navigation a.logo {
        transform: skew(0deg);
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
         min-width:100px;    
    }
 /* Removes the slantness from the logo img */
    .logo img{
        height: 50px;
        float: left;
        transform: skew(0deg) rotate(0deg);
        -webkit-transform: skew(0deg) rotate(0deg);
        -moz-transform: skew(0deg) rotate(0deg);
        padding-right: 5px;
        padding-left: 10px;
    }
     /* Removes the slantness from the text after the logo */
    .logo span{
        transform: skew(0deg) rotate(0deg);
        -webkit-transform: skew(0deg) rotate(0deg);
        -moz-transform: skew(0deg) rotate(0deg);   
    }
    /* Changes the colour of the navigation bar */
    .navigation {
        background-color: #F8F9FA;
        overflow: hidden;
      }

    .schedule-btn {  
        display: block;
        width: 90%;
      }

      .schedule-badge{
        font-size: 12px; 
        color: black;      
      }
    
    #testimonials{
     padding-top: 30%; 
     }

     #numbers img{
       display: none;
     }

     #numbers {
      padding-bottom: 10%;
    }
  }
  
   /* The "responsive" class is added to the navigation with JavaScript when the user clicks on the icon. This class makes the navigation look good on small screens (display the links vertically instead of horizontally) */
   @media screen and (max-width: 768px) {
       
    .navigation.responsive {
        position: relative;
        background-color: #0069D9; 
        overflow: hidden;
        display: block;
    }
    .navigation.responsive a {
      float: none;
      display: flex;
      text-align: left;
    }
    .navigation.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }  
  }
